{% extends 'base.html.twig' %}

{% block title %}ButchGamy - Sign up!{% endblock %}

{% block body %}
<div class="container">
	{{ form_errors(registrationForm) }}

	{% if app.user %}
		<div class="mb-3">
			You are already registered as {{ app.user.username }}! Did you want to <a href="{{ path('app_logout') }}">log out</a>?
		</div>
	{% else %}

    <h1 class="h3 my-3 font-weight-normal">Sign up now to start playing and sharing games!</h1>

    {{ form_start(registrationForm) }}
		<p>{{ form_label(registrationForm.username) }}
		{{ form_widget(registrationForm.username) }}</p>
		<p>{{ form_label(registrationForm.email) }}
		{{ form_widget(registrationForm.email) }}</p>
		<p>{{ form_label(registrationForm.birthday) }} <small class="form-text">(Optional)</small>
		{{ form_widget(registrationForm.birthday) }}</p>
		<p>{{ form_label(registrationForm.gender) }} <small class="form-text">(Optional)</small>
		{{ form_widget(registrationForm.gender) }}</p>
		<p>{{ form_label(registrationForm.profilePic) }} <small class="form-text">(Recommended: 50x50)</small>
		{{ form_widget(registrationForm.profilePic) }}</p>
		<p>{{ form_label(registrationForm.plainPassword.first) }}
		{{ form_widget(registrationForm.plainPassword.first) }}</p>
		<p>{{ form_label(registrationForm.plainPassword.second) }}
		{{ form_widget(registrationForm.plainPassword.second) }}</p>
		<p><button type="submit" class="btn btn-primary">Register</button></p>
    {{ form_end(registrationForm) }}
	{% endif %}
</div>
{% endblock %}
