<div class="container text-center">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
		{% for game in games %}
			<div class="col">
				<p><img class="img-fluid" src="{{ asset(game.image) }}"></p>
				<a href="{{ path('app_game_show', {'id': game.id}) }}">
					<h3>{{ game.title }}</h3>
				</a>
			</div>
        {% else %}
            <div class="col d-flex justify-content-center align-items-center">{{ emptyMessage|default('No games here yet!') }}</div>
        {% endfor %}
		{% if app.user == user|default(null) %}
			<div class="col d-flex justify-content-center align-items-center"><a href="{{ path('app_game_new') }}"><button class="btn btn-secondary">Create new game?</button></a></div>
		{% endif %}
	</div>
</div>