<p class="my-3">
	<img src="{{ asset(game.image) }}" width="460px" height="215px">
</p>
<h1>
	{{ game.title }}
	{% if app.user == developer or app.user.admin%}
		<a href="{{ path('app_game_edit', {'id': game.id}) }}"><button class="btn btn-sm btn-primary">Edit game</button></a>
	{% endif %}
</h1>
<table class="table">
	<tbody>
		<tr>
			<th>Release date:</th>
			<td>{{ game.createdOn ? game.createdOn|date('F j, Y') : '' }}</td>
		</tr>
		<tr>
			<th>Developer:</th>
			<td><a href="{{ path('app_user_show', {'id': developer.id}) }}">{{ developer.username }}</a></td>
		</tr>
		<tr>
			<td colspan="2">{{ game.description ? game.description : '<em>This space intentionally left blank.</em>' }}</td>
		</tr>
		<tr>
			<td colspan="2">
				<a href="{{ game.url }}?userId={{ app.user.id }}&hash={{ game.hash(app.user) }}" class="btn btn-lg btn-primary" target="_blank">Click here to play!</a>
				<small class="align-bottom"><em>(WARNING: This button will send you to an external website.)</em></small>
			</td>
		</tr>
	</tbody>
</table>