{% extends 'base.html.twig' %}

{% block title %}ButchGamy - Editing {{ game.title }}{% endblock %}

{% block body %}
<div class="container">
	{{ form_errors(gameForm) }}
    
	<h1 class="h3 my-3 font-weight-normal">Editing {{ game.title }}</h1>

	{{ form_start(gameForm) }}
		<p>{{ form_label(gameForm.title) }}
		{{ form_widget(gameForm.title) }}</p>
		<p>{{ form_label(gameForm.image) }} <small class="form-text">(Recommended: 460x215)</small>
		{{ form_widget(gameForm.image) }}</p>
		<p>{{ form_label(gameForm.description) }} <small class="form-text">(Optional)</small>
		{{ form_widget(gameForm.description) }}</p>
		<p>{{ form_label(gameForm.url) }} <small class="form-text">(See <a href="{{ path('app_api_docs') }}">API documentation</a>)</small>
		{{ form_widget(gameForm.url) }}</p>
		<p><label for="apiKey" class="col-form-label">API key</label> <small class="form-text">(Read-only)</small>
		<input id="apiKey" type="text" value="{{ game.apiKey }}" class="form-control" readonly></p>
		<p>{{ form_row(gameForm.public) }}</p>
		<p><button type="submit" class="btn btn-primary">Update</button></p>
    {{ form_end(gameForm) }}
	<form method="post" action="{{ path('app_game_delete', {'id': game.id}) }}" onsubmit="return confirm('Are you SURE you want to delete this game? This CANNOT be undone.');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
		<button class="btn btn-danger">Delete</button>
	</form>

</div>

{% endblock %}
