{% extends 'base.html.twig' %}

{% block title %}ButchGamy - New game{% endblock %}

{% block body %}
<div class="container">
	{{ form_errors(gameForm) }}
    
	<h1 class="h3 my-3 font-weight-normal">Create new game</h1>

	{{ form_start(gameForm) }}
		<p>{{ form_label(gameForm.title) }}
		{{ form_widget(gameForm.title) }}</p>
		<p>{{ form_label(gameForm.image) }} <small class="form-text">(Recommended: 460x215)</small>
		{{ form_widget(gameForm.image) }}</p>
		<p>{{ form_label(gameForm.description) }} <small class="form-text">(Optional)</small>
		{{ form_widget(gameForm.description) }}</p>
		<p>{{ form_label(gameForm.url) }} <small class="form-text">(See <a href="{{ path('app_api_docs') }}">API documentation</a>)</small>
		{{ form_widget(gameForm.url) }}</p>
		<p>{{ form_row(gameForm.public) }}</p>
		<p><button type="submit" class="btn btn-primary">Create</button></p>
    {{ form_end(gameForm) }}
</div>

{% endblock %}
