{% extends 'base.html.twig' %}

{% block title %}ButchGamy - {{ game.title }}{% endblock %}

{% block body %}
<div class="container my-3">
	{{ include('game/_show.html.twig') }}
	<ul class="nav nav-tabs my-3">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{ path('app_game_show_results', {'id': game.id}) }}">Leaderboard</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_game_show_achievements', {'id': game.id}) }}">Achievements</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_game_show_stats', {'id': game.id}) }}">Stats</a>
		</li>
	</ul>
	{{ include('gameresult/_table.html.twig') }}
</div>
{% endblock %}
