{% extends 'base.html.twig' %}

{% import "macros.html.twig" as macros %}

{% block title %}ButchGamy - {{ game.title }}{% endblock %}

{% block body %}
	<div class="container my-3">
		<div><a href="{{ path('app_homepage_all') }}">Back to index</a></div>
		<p class="my-3">
			<img src="{{ game.image }}" height="215px">
		</p>
		<h1>
			{{ game.title }}
			{% if app.user == developer or app.user.admin%}
				<a href="{{ path('app_game_edit', {'id': game.id}) }}"><button class="btn btn-sm btn-primary">Edit game</button></a>
			{% endif %}
		</h1>
		<table class="table">
			<tbody>
				<tr>
					<th>Release date:</th>
					<td>{{ game.createdOn ? game.createdOn|date('F j, Y') : '' }}</td>
				</tr>
				<tr>
					<th>Developer:</th>
					<td><a href="{{ path('app_user_show', {'id': developer.id}) }}">{{ developer.username }}</a></td>
				</tr>
				<tr>
					<td colspan="2">{{ game.description ? game.description : '<em>This space intentionally left blank.</em>' }}</td>
				</tr>
				<tr>
					<td colspan="2"><a href={{ game.url }}>
						<button class="btn btn-lg btn-primary">Click here to play!</button></a>
						<small class="align-bottom"><em>(WARNING: This button will send you to an external website.)</em></small>
					</td>
				</tr>
			</tbody>
		</table>
		<ul class="nav nav-tabs my-3">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{ path('app_game_show_results', {'id': game.id}) }}">Leaderboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_game_show_stats', {'id': game.id}) }}">Stats</a>
			</li>
		</ul>
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>User</th>
						<th {% if sort == 'score' %} class="table-active" {% endif %}><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?sort=score">Score</a></th>
						<th {% if sort == 'time' %} class="table-active" {% endif %}><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?sort=time">Time</a></th>
					</tr>
				</thead>
				<tbody>
					{% if sort == 'score' %}
						{% for result in gameResults|sort((a, b) => b.score <=> a.score)|slice(0, 9) %}
							<tr>
								<th>{{ loop.index }}</th>
								<td><a href="{{ path('app_user_show', {'id': result.user.id}) }}">{{ result.user.username }}</a></td>
								<td>{{ result.score }}</td>
								<td>{{ macros.secondsToMinutes(result.time) }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4" class="text-center">Nobody has played this game yet - get to it!</td>
							</tr>
						{% endfor %}
					{% elseif sort == 'time' %}
						{% for result in gameResults|sort((a, b) => a.time <=> b.time)|slice(0, 9) %}
							<tr>
								<th>{{ loop.index }}</th>
								<td><a href="{{ path('app_user_show', {'id': result.user.id}) }}">{{ result.user.username }}</a></td>
								<td>{{ result.score }}</td>
								<td>{{ macros.secondsToMinutes(result.time) }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4" class="text-center">Nobody has played this game yet - get to it!</td>
							</tr>
						{% endfor %}
					{% else %}
						{% for result in gameResults|sort((a, b) => random(-1,1))|slice(0, 9) %}
							<tr>
								<th>#</th>
								<td><a href="{{ path('app_user_show', {'id': result.user.id}) }}">{{ result.user.username }}</a></td>
								<td>{{ result.score }}</td>
								<td>{{ macros.secondsToMinutes(result.time) }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4" class="text-center">Nobody has played this game yet - get to it!</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
