{% extends 'base.html.twig' %}

{% block title %}ButchGamy - {{ game.title }}{% endblock %}

{% block body %}
	<div class="container my-3">
		{{ include('game/_show.html.twig') }}
		<ul class="nav nav-tabs my-3">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_game_show_results', {'id': game.id}) }}">Leaderboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_game_show_achievements', {'id': game.id}) }}">Achievements</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{ path('app_game_show_stats', {'id': game.id}) }}">Stats</a>
			</li>
		</ul>
		<div class="d-flex justify-content-center" id="div_chart">
			Loading...
		</div>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    	<script type="text/javascript">{{ gc_draw(scoreChart, 'div_chart') }}</script>
	</div>
{% endblock %}
