{% extends 'base.html.twig' %}

{% block title %}ButchGamy - Edit profile{% endblock %}

{% block body %}
<div class="container">
	{{ form_errors(userForm) }}
    
	<h1 class="h3 my-3 font-weight-normal">Editing {{ user.username }}'s permissions</h1>

	{{ form_start(userForm) }}
		<p>{{ form_row(userForm.loginAllowed) }}</p>
		<p>{{ form_row(userForm.friendAllowed) }}</p>
		<p>{{ form_row(userForm.messageAllowed) }}</p>
		<p><button type="submit" class="btn btn-primary">Update</button></p>
    {{ form_end(userForm) }}
</div>
{% endblock %}
