{% extends 'base.html.twig' %}

{% block title %}ButchGamy - {{ user.username }}'s Profile{% endblock %}

{% block body %}
	<div class="container my-3">
		<div><a href="{{ path('app_user_index') }}">Back to index</a></div>
		{{ include("user/_show.html.twig") }}
		<ul class="nav nav-tabs my-3" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link {% if tab == 'games' %} active {% endif %}" id="games-tab" data-bs-toggle="tab" data-bs-target="#games-tab-pane" type="button" role="tab" aria-controls="games-tab-pane" aria-selected="{% if tab == 'games' %} true {% else %} false {% endif %}">Games</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link {% if tab == 'achievements' %} active {% endif %}" id="achievements-tab" data-bs-toggle="tab" data-bs-target="#achievements-tab-pane" type="button" role="tab" aria-controls="achievements-tab-pane" aria-selected="{% if tab == 'achievements' %} true {% else %} false {% endif %}">Achievements</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link {% if tab == 'stats' %} active {% endif %}" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats-tab-pane" type="button" role="tab" aria-controls="stats-tab-pane" aria-selected="{% if tab == 'stats' %} true {% else %} false {% endif %}">Stats</button>
			</li>
		</ul>
		<div class="tab-content container" id="myTabContent">
			<div class="tab-pane {% if tab == 'games' %} show active {% endif %}" id="games-tab-pane" role="tabpanel" aria-labelledby="games-tab" tabindex="0">
				{{ include('game/_grid.html.twig') }}
			</div>
			<div class="tab-pane {% if tab == 'achievements' %} show active {% endif %}" id="achievements-tab-pane" role="tabpanel" aria-labelledby="achievements-tab" tabindex="0">
				{{ include('achievement/_grid.html.twig') }}
			</div>
			<div class="tab-pane {% if tab == 'stats' %} show active {% endif %}" id="stats-tab-pane" role="tabpanel" aria-labelledby="stats-tab" tabindex="0">
				{{ include('gameresult/_table_user.html.twig') }}
				<div class="d-flex justify-content-center" id="div_chart">
					Loading activity...
				</div>
				<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
				<script type="text/javascript">{{ gc_draw(activeChart, 'div_chart') }}</script>
			</div>
		</div>
	</div>
{% endblock %}