{% extends 'base.html.twig' %}

{% block title %}ButchGamy - {{ user.username }}'s Profile{% endblock %}

{% block body %}
	<div class="container my-3">
		<div><a href="{{ path('app_user_index') }}">Back to index</a></div>
		<form class="my-3" method="post">
			{% if user.profilePic %}
				<img src="{{ asset(user.profilePic) }}" height="50px" width="50px">
			{% else %}
				<img src="../assets/images/default.webp" height="50px" width="50px">
			{% endif %}
			<span class="h1 align-bottom">{{ user.username }}</span>
			{% if app.user == user %}
				<a href="{{ path('app_user_edit', {'id': user.id}) }}"><button class="btn btn-sm btn-primary align-bottom">Edit profile</button></a>
			{% elseif friendStatus == 0 %}
				<button class="btn btn-sm btn-primary align-bottom" type="submit" name="request" value="send">Send friend request</button>
			{% elseif friendStatus == 1 %}
				<button class="btn btn-sm btn-secondary align-bottom" disabled>Friend request sent</button>
			{% elseif friendStatus == 2 %}
				<button class="btn btn-sm btn-success align-bottom" type="submit" name="request" value="accept">Accept friend request</button>
				<button class="btn btn-sm btn-danger align-bottom" type="submit" name="request" value="refuse">Refuse friend request</button>
			{% elseif friendStatus == 3 %}
				<button class="btn btn-sm btn-info align-bottom" disabled>You are friends</button>
			{% endif %}
			{% if app.user.admin %}
				<a href="{{ path('app_user_edit_admin', {'id': user.id}) }}"><button class="btn btn-sm btn-primary align-bottom">Edit permissions</button></a>
			{% endif %}
		</form>
		<table class="table">
			<tbody>
				<tr>
					<th>Member since:</th>
					<td>{{ user.createdOn ? user.createdOn|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				{% if user.birthday %}
					<tr>
						<th>Birthday:</th>
						<td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
					</tr>
				{% endif %}
				{% if user.gender %}
					<tr>
						<th>Gender:</th>
						<td>{{ user.gender }}</td>
					</tr>
				{% endif %}
				<tr>
					<td colspan="2">{{ user.profileBio ? user.profileBio : '<em>This space intentionally left blank.</em>' }}</td>
				</tr>
			</tbody>
		</table>
		<ul class="nav nav-tabs my-3">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{ path('app_user_show_games', {'id': user.id}) }}">Games</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_user_show_achievements', {'id': user.id}) }}">Achievements</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_user_show_stats', {'id': user.id}) }}">Stats</a>
			</li>
		</ul>
		<div class="container text-center">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
			{% for game in games %}
				<div class="col"><img class="img-fluid" src="{{ asset(game.image) }}"><h3><a href="{{ path('app_game_show', {'id': game.id}) }}">{{ game.title }}</a></h3></div>
			{% else %}
				<div class="col d-flex justify-content-center align-items-center">No games here yet!</div>
			{% endfor %}
			{% if app.user == user %}
				<div class="col d-flex justify-content-center align-items-center"><a href="{{ path('app_game_new') }}"><button class="btn btn-secondary">Create new game?</button></a></div>
			{% endif %}
		</div>
	</div>
{% endblock %}
