{% extends 'base.html.twig' %}

{% block title %}ButchGamy - {{ user.username }}'s Profile{% endblock %}

{% block body %}
	<div class="container my-3">
		<div><a href="{{ path('app_user_index') }}">Back to index</a></div>
		{{ include("user/_show.html.twig") }}
		<ul class="nav nav-tabs my-3" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="games-tab" data-bs-toggle="tab" data-bs-target="#games-tab-pane" type="button" role="tab" aria-controls="games-tab-pane" aria-selected="true">Games</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="achievements-tab" data-bs-toggle="tab" data-bs-target="#achievements-tab-pane" type="button" role="tab" aria-controls="achievements-tab-pane" aria-selected="false">Achievements</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats-tab-pane" type="button" role="tab" aria-controls="stats-tab-pane" aria-selected="false">Stats</button>
			</li>
		</ul>
		<div class="tab-content container" id="myTabContent">
			<div class="tab-pane show active" id="games-tab-pane" role="tabpanel" aria-labelledby="games-tab" tabindex="0">
				{{ include('game/_grid.html.twig') }}
			</div>
			<div class="tab-pane" id="achievements-tab-pane" role="tabpanel" aria-labelledby="achievements-tab" tabindex="0">
				{{ include('achievement/_grid.html.twig') }}
			</div>
			<div class="tab-pane" id="stats-tab-pane" role="tabpanel" aria-labelledby="stats-tab" tabindex="0">
				{{ include('gameresult/_table_user.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}