{% extends 'base.html.twig' %}

{% block title %}ButchGamy - {{ user.username }}'s Profile{% endblock %}

{% block body %}
	<div class="container">
		<p class="my-3">
			{% if user.profilePic %}
				<img src="{{ user.profilePic }}" height="50px" width="50px">
			{% else %}
				<img src="../assets/images/default.webp" height="50px" width="50px">
			{% endif %}
			<span class="h1 align-bottom">{{ user.username }}</span>
		</p>
		<table class="table">
			<tbody>
				<tr>
					<th>Member since:</th>
					<td>{{ user.createdOn ? user.createdOn|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				{% if user.birthday %}
					<tr>
						<th>Birthday:</th>
						<td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
					</tr>
				{% endif %}
				{% if user.gender %}
					<tr>
						<th>Gender:</th>
						<td>{{ user.gender }}</td>
					</tr>
				{% endif %}
				<tr>
					<td colspan="2">{{ user.profileBio ? user.profileBio : '<em>This space intentionally left blank.</em>' }}</td>
				</tr>
			</tbody>
		</table>

		<!-- Game list here -->

    	<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    	{{ include('user/_delete_form.html.twig') }}

	</div>
{% endblock %}
